.ProfileSide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    overflow: auto;
    padding-left: 1rem;
}

@media screen and (min-width: 650px) and (max-width: 1023px) {
    .ProfileSide{
        padding: 0;
        gap: 0;
    }
}