.PostShare{
    display: flex;
    gap: 1rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.PostShare>img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}

.PostShare>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.PostShare>div>input{
    background-color: var(--inputColor);
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
}


.postOptions{
    display: flex;
    justify-content: space-around;
}

.option{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.option:hover{
    cursor: pointer;
}

.ps-button{
    width: 70px;
    height: 40px;
    padding: 5px;
    margin-right: 30px;
    font-size: 12px;
    background: linear-gradient(106.23deg, #7a77ff, #030303 100%);
}


.previewImage{
    position: relative;
}

.previewImage>svg{
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
}

.previewImage>img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {

    .ProfMobile{
        margin-left: 10px;
    }

    .PostShare{
        margin-inline: 1rem;
    }

}

.ProfDesktop{
    display: none;
    margin-left: 10px;
}

.ProfMobile{
    display: flex;
    margin: 0;
}

@media screen and (min-width: 1023px) {
    .ProfDesktop{
        display: flex;
        width: 50px;
        border-radius: 50%;
    }
    
    .ProfMobile{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .PostShare{
        gap: 0;
        margin-inline: 1rem;
    }

    .ProfMobile{
        margin-left: 10px;
    }
}