.Profile{
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
    height: 100vh;
    background: #f3f3f3;
    overflow: hidden;
}

.Profile-center{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Profile>Body {
    
}

.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #ccb6e4;
    filter: blur(72px)
  }

  .LogoSearch{
    display: flex;
    align-items: flex-start;
    justify-content:center;
    gap: 0.75rem;
    margin-top: 15px;
}



:root {
    --yellow: #f5c32c;
    --orange: #fca61f;
    --black: #242d49;
    --gray: rgba(36, 45, 73, 0.65);
    --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
    --hrColor: #cfcdcd;
    --cardColor: rgba(255, 255, 255, 0.64);
    --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
    --inputColor: rgba(40, 52, 62, 0.07);
    --photo: #4CB256;
    --video: #4A4EB7;
    --location: #EF5757;
    --purple: #7a77ff;
  --shedule: #E1AE4A;
  }

@media screen and (max-width: 725px) {
    .Profile {
      display: flex;    
      align-items: center;
      justify-content:flex-start;
      position: relative;
      flex-direction: column;
    }


  }