.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}


.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}


.r-button{
    height: 3rem;
    width: 80%;
    align-self: center;
}

@media screen and (min-width: 280px) and (max-width: 1023px) {
    .RightSide {
        display: none !important
    }
}