.PostSide{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100vh;
    overflow: auto;
}

@media screen and (min-width: 650px) and (max-width: 1023px) {
    .PostSide{
        padding: 0;
        
    }
}