.Post
{
    display: flex;
    flex-direction: column;
    background-color: var(--cardColor);
    border-radius: 20px;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 20px;
}

.container{
    padding: 1rem;
}

.Post>img{
    width: 100%;
    max-height: 20rem;
    object-fit: contain;
    display: flex;
    float: left;
    text-align: left;
    border-radius: 0.5rem;
}

.content {
    margin-inline: 20px;
}

.content>img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-top: 20px;
    padding-right: 40px;
}

.postReact{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-top: 10px;
}

.Comment{
    /* padding: 10px; */
    margin-top: 10px;
}

.button {
    padding: 10px ;
    cursor: pointer;
    background: var(--cardColor);
    border: 1px solid var(--hrColor);
}

.buttonDisabled {
    padding: 10px ;
    cursor: not-allowed;
}

.header>Col{
    flex: 0;
}

.titiktiga {
    padding-left: 0;
    flex: 0 0;
    padding-inline-start: 0;
    margin-right: 0;
    max-width: max-contents;
}

.h4 {
    margin-bottom: 0;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
    .Post {
        margin-inline: 1rem;
    }

    .container{
        padding-top: 0;
    }
}

@media screen and (max-width: 426px) {
    .Post {
        margin-inline: 1rem;
    }

    .col {
        padding-left: 7px;
    }

    .row {

        flex-wrap: unset;
        max-width: 390px;
        
    }

    .titiktiga {
        width: 80px;
        flexDirection: row; 
        justifyContent: flex-end;
        display:flex; 
    }

    .postReact {
        .div {
            margin-left: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .userMobile {
        display: none !important
    }

    .row {
        flex-wrap: 0;
    }

    .col {
        padding-left: 7px;
    }
}