
  .Check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
  }

  .Text>h4 {
    text-align: center;
  }

  .Check>Text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .Row {
    display: contents;
    max-width: fit-content;
    
  }

  button {
    margin: 5px;
    padding: 0;
  }

  .tombol {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .progressVisualFull {
    display: flex;
    /* change the value if you want different thickness */
    height: 6px;
    margin: 20px;
  }
  
  .progressVisualPart {
    /* Number of the seconds for complete animation */
    transition: width 1s;
  }
  
  .progressLabel {
    /* Nothing here, move along */
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .Check>body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    object-fit: contain;
    padding: 5px;
  }


  @media screen and (max-width: 768px) {
    .checkMobile{
        margin: 10px;
        flex-direction: column;
    }

    .blur {
    }

}
  